@import "tailwindcss";

@theme {
  --color-brand-purple: #3b013b;
  --color-brand-gold: #ffcc00;
  --color-brand-dark: #1a011a;
}

:root {
  background-color: var(--color-brand-dark);
  color: white;
}