@import "tailwindcss";

@theme {
  --color-brand-purple: #3b013b;
  --color-brand-gold: #ffcc00;
  --color-brand-dark: #1a011a;
}

:root {
  background-color: var(--color-brand-dark);
  color: white;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  width: 100%;
  position: relative;
  background-color: var(--color-brand-dark);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@utility no-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@utility custom-scrollbar {
  &::-webkit-scrollbar {
    width: 4px;
  }
  &::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background: var(--color-brand-gold);
    border-radius: 10px;
  }
}

input[type="time"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
  opacity: 0.5;
}

button {
  touch-action: manipulation;
}